.countdown {
    width: 158px;
    min-width: 158px;
    height: 158px;
    min-height: 158px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    
}
.countdown .frame{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 158px;
    min-width: 158px;
    height: 158px;
    min-height: 158px;
    border: none;
    box-sizing: border-box;
    border-radius: 50%;
    background: conic-gradient(#7cfc00 0deg, #ff3030 0deg 100deg);
    z-index: -1;
    
}
.countdown h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 150px;
    min-width: 150px;
    height: 150px;
    min-height: 150px;
    border: none;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f4f4f4;
}