#root {
  box-sizing: border-box;
  height: 100%;
  min-width: 340px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff5ee;
}